@import "bootstrap-sprockets";
@import "bootstrap";

a {
  color: #0d0e0d
}

a:hover {
  text-decoration: none;
  color: #96131f;
}

img {
  align-self: center;
}

ul li {
  text-decoration: none;
  list-style: none;
}
